    body {
        margin: 0;
        padding-top: 10p;
        padding-bottom: 20px;
        background-color: #58B003;
        text-align: center;
    }
    
    li {
        list-style: none;
    }
    
    ul {
        background-color: azure;
    }
    
    h1 {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: medium;
    }
    
    .header {
        width: 70%;
        height: 10%;
        padding-top: 10px;
        padding-bottom: 5px;
    }